::root {
  color: #6edfe7;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
  background: #ebeaec71;
}
h1,
h2,
p {
  padding: 0;
  margin: 0;
}
.h1 {
  color: #6edfe7;
  font-size: 3rem;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}
img {
  display: block;
  max-width: 100%;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  margin-inline: auto;
  padding: 20px;
}
.menu {
  display: flex;
  gap: 20px;
}
.menu li {
  padding: 10px;
  border: 1px solid #8426fc;
}
.menu li:hover {
  background: rgb(230, 226, 226);
}
@media (max-width: 400px) {
  .header img {
    max-width: 50%;
    margin: 0 auto;
  }

  .menu a {
    font-size: 0.875rem;
  }
  .menu li {
    padding: 6px;
    border-radius: 8px;
  }
}
.wrapper {
  max-width: 1220px;
  margin-inline: auto;
  background: white;
}
.turtle-img {
  margin: 0 auto;
  padding-top: 30px;
}
@media (max-width: 400px) {
  .turtle-img {
    padding-top: 0;
  }
}
.about {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.about h1 {
  padding-bottom: 30px;
}
.about p {
  padding-bottom: 40px;
  max-width: 70ch;
  margin: 0 auto;
  font-style: italic;
  color: rgb(37, 36, 36);
}
.about:nth-child(3) {
  padding-bottom: 0;
}
.species {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.media-images {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
}
.media-images img {
  min-width: 220px;
  max-height: 300px;
}
.help {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.help h1 {
  padding-bottom: 30px;
}
.group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.lado {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: 1px solid #8426fc;
  padding: 6px;
}
.lado a {
  display: block;
}
.lado img {
  max-width: 30px;
  display: flex;
  align-items: center;
}
.help {
  padding-bottom: 80px;
}
.footer {
  display: grid;
  margin-inline: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.footer img {
  margin: 0 auto;
  position: relative;
  left: 6px;
  bottom: 10px;
}
.rights {
  margin-top: 40px;
  padding: 16px;
}
